<form action="/cad" method="POST">
	<label>Nome</label>
	<input type="text" name="titulo"/>
	
	<label>Nome</label>
	<textarea type="text" name="conteudo"></textarea>
	
	<button type="submit">Enviar</button>
</form>